#
# MindSpeed pfe support (added by Andy, 2014/07/08)
#

config PFE_CTRL
	tristate "MindSpeed pfe support"
	default m
	---help---
		MindSpeed pfe kernel module
		(copied from "MindSpeed_OpenWRT/sdk-comcerto-openwrt-c2k_nas_3.1-rc2/package/mindspeed/pfe_ctrl")
